<form action="/add" method='POST'>
    <p>CADASTRO DE CLIENTES</p>
    <p>Nome</p>
    <input type='text' name='nomePessoa'>

    <p>Data de Nascimento</p>
    <input type= 'date' name='DtaNascimento'>

     <p>CPF</p>
    <input type='string' name='CPF'>

    <p>Endereço completo</p>
    <input type='text' name='Endereco'>

    <p>Telefone com DDD</p>
    <input type='string' name='Telefone'>

    <p>E-mail</p>
    <input type='string' name='Email'>

    
    <button type='submit'> Cadastrar Cliente</button>
</form>